*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", "sans-serif";
}
body {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url(./assests/gradient.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  place-items: center;
  position: relative;
}
.game-info {
  color: white;
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translate(-50%);
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 0.5rem 3rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
  text-align: center;
}

.wrapper .tik-tak-toe {
  width: 90%;
  max-width: 20rem;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 2rem;
  position: absolute;
  color: white;
  /* top: 13rem; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  aspect-ratio: 1/1;
}
.box {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  font-size: 3rem;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box1,
.box2,
.box4,
.box5 {
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}
.box3,
.box6 {
  border-bottom: 2px solid white;
}
.box7,
.box8 {
  border-right: 2px solid white;
}

.wrapper .btn {
  position: absolute;
  bottom: 4rem;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: white;
  padding: 0.5rem 2rem;
  display: none;
}

.btn.active {
  display: flex;
}

.win {
  background-color: rgba(0, 255, 0, 0.3);
}
